<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.avatar {
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
</style>
</head>
<body>
<div class="form-container" align="center">
    <form action="{{ url_for('login') }}" method="post" align="center" style="background-color: whitesmoke;width: 500px;height: 500px;padding-block: 50px; margin:auto;border-radius: 5px;background-color:lightblue;">
      <div class="msg">{{ msg }}</div><br><br>
      <h2>Login</h2><br><br><br><br>
      <img src="avatar_2x.png" alt="Avatar" class="avatar"><br><br>
        <input id="username" name="username" type="text" placeholder="Enter Your Username" class="textbox"/></br></br>
        <input id="password" name="password" type="password" placeholder="Enter Your Password" class="textbox"/></br></br></br>
        <input type="submit" class="btn" value="Sign In"></br></br>
    </form>
</div>

<!-- <img src="img_avatar.jpg" alt="Avatar" class="avatar"> -->


</body>
</html>
